<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059713542912-dp48r2mc5qaai5grsj7ebpurk70onhn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059713542912-dp48r2mc5qaai5grsj7ebpurk70onhn2</string>
	<key>API_KEY</key>
	<string>AIzaSyAFkXbQbvfCnnTbTD0OK3Gd22h6bAEkJVs</string>
	<key>GCM_SENDER_ID</key>
	<string>1059713542912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JuseobJang.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-14e58</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-14e58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059713542912:ios:86f388ed48d5ed85dea1e5</string>
</dict>
</plist>