<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569514219371-ktga79bmert85bun2cko2fcn6jfvq34n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569514219371-ktga79bmert85bun2cko2fcn6jfvq34n</string>
	<key>API_KEY</key>
	<string>AIzaSyAVbWyPGOwv_1igxUGk3s4LY1XvinXIyNs</string>
	<key>GCM_SENDER_ID</key>
	<string>569514219371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juseob.MyNetflix</string>
	<key>PROJECT_ID</key>
	<string>mynetflix-2d37a</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetflix-2d37a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569514219371:ios:0da2bb4f3fc128c5525e2e</string>
</dict>
</plist>